body {
  background-color: rgb(255, 253, 251);
  height: 100%;
  font-family: "Lato";
  color: #333;
}

.fancy-font {
  font-family: "Anton";
}

.text-main {
  color: rgb(189, 93, 56);
}

.btn-main, .btn-main:visited {
  background-color: rgb(189, 93, 56) !important;
  border-color: rgb(189, 93, 56) !important;
  color: white;
}
.btn-main:hover, .btn-main:active {
  background-color: rgb(170,84,50) !important;
  border-color: rgb(170,84,50) !important;
  color: white;
}
