{% extends "layout.html" %}
{% block body %}

<div class="container py-5 mb-3 content" x-data="{}">
  <div class="text-end mb-4">
    <div style="font-size: 2em; cursor: pointer;" x-on:click="location.href='https://github.com/czhu12/forever-free-cloud-app-starter'">
      <i class="fab fa-github"></i>
    </div>
  </div>
  <div class="text-center mb-4">
    <div class="h1 text-center fancy-font">
      A STARTER PROJECT FOR BUILDING <span class="text-main">FOREVER FREE</span> APPS
    </div>
    <i>Your app, on the cloud, forever running, forever free.</i>
  </div>
  <p>
  {{ readme | safe }}
  </p>

  <div class="d-grid gap-2">
    <button @click="location.href='https://github.com/czhu12/forever-free-cloud-app-starter'" class="btn btn-main btn-lg btn-block">
      Fork on Github
      <i class="ms-2 fab fa-github"></i>
    </button>
  </div>
</div>

{% endblock %}
